.speech{
    font-size: 30; 
    font-family: 'Times New Roman', Times, serif;
    color: black;
    }

.direction{
    background-color: navajowhite;
    font-size: 15; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.direction:hover{
    background-color: yellow;
    color: brown;
 } 

.alving{
    color: yellowgreen;
}

.manders{
    color: darkmagenta;
}

.oswald{
    color: chocolate;
}

.regina{
    color: plum;
}

.engstrand{
    color: deeppink;
}

.table {
    width: 50%;
    margin: 20px;
    border-collapse: collapse;
    border: 1px solid black;
    background-color: rgb(118, 163, 105);
}
  
.th, .td {
    padding: 15px;
    border: 2px;
    text-align: center;
    border: 1px solid black;
    color: rgb(30, 3, 139);
}

.table tr:nth-child(even) {
    background-color:lightgrey;
}

.alving:hover{
    color: blue;
    font-weight: bold;
    background-color: lavenderblush;
    text-shadow: 4px 4px 4px darkgray;
    filter: blur(1px);
    border: 1px solid #000;
}

.manders:hover{
    color:blue;
    font-weight: bold;
    background-color: lavenderblush;
    text-shadow: 4px 4px 4px darkgray;
    filter: blur(1px);
    border: 1px solid #000;
} 

.oswald:hover{
    color:blue;
    font-weight: bold;
    background-color: lavenderblush;
    text-shadow: 4px 4px 4px darkgray;
    filter: blur(1px);
    border: 1px solid #000;
}

.regina:hover{
    color:blue;
    font-weight: bold;
    background-color: lavenderblush;
    text-shadow: 4px 4px 4px darkgray;
    filter: blur(1px);
    border: 1px solid #000;
}

.engstrand:hover{
    color:blue;
    font-weight: bold;
    background-color: lavenderblush;
    text-shadow: 4px 4px 4px darkgray;
    filter: blur(1px);
    border: 1px solid #000;
}